In [3]:
import pandas as pd

In [60]:
df = pd.read_csv('word.csv',index_col='word')

In [6]:
df.head(10)

       length  value
word
keayk       5     53
jsjfc       5     48
vwj         3     55
ewcls       5     62
h           1      8
yynch       5     75
yijrm       5     75
lenys       5     75
ttdz        4     70
ypl         3     53

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5000 entries, keayk to yx
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   length  5000 non-null   int64
 1   value   5000 non-null   int64
dtypes: int64(2)
memory usage: 117.2+ KB

In [8]:
df.shape

(5000, 2)

In [10]:
df.loc["yynch"]

length     5
value     75
Name: yynch, dtype: int64

In [13]:
df.loc["yynch","value"]

75

In [15]:
df["value"].max()

120

In [16]:
df.max()

length      5
value     120
dtype: int64

In [18]:
df.head()

       length  value
word
keayk       5     53
jsjfc       5     48
vwj         3     55
ewcls       5     62
h           1      8

In [17]:
df.describe()

           length        value
count  5000.00000  5000.000000
mean      3.00180    40.516400
std       1.40904    22.859655
min       1.00000     1.000000
25%       2.00000    23.000000
50%       3.00000    39.000000
75%       4.00000    57.000000
max       5.00000   120.000000

In [21]:
df.loc[[
    "keayk",
    "jsjfc",
    "vwj",
    "ewcls"
    ,"h"
]]

       length  value
word
keayk       5     53
jsjfc       5     48
vwj         3     55
ewcls       5     62
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8
h           1      8

In [22]:
df.loc[[
    "keayk",
    "jsjfc",
    "vwj",
    "ewcls"
    ,"h"
],"value"]

word
keayk    53
jsjfc    48
vwj      55
ewcls    62
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
h         8
Name: value, dtype: int64

In [23]:
df["length"].max()

5

In [24]:
df.sort_values(by=['value'],ascending=False)

       length  value
word
ywzyu       5    120
xutwz       5    114
uztwv       5    112
szzxp       5    111
vwzox       5    110
...       ...    ...
a           1      1
a           1      1
a           1      1
a           1      1
a           1      1

[5000 rows x 2 columns]

In [28]:
df.loc[df['value' ]== 15]

      length  value
word
an         2     15
kd         2     15
o          1     15
bcj        3     15
o          1     15
...      ...    ...
o          1     15
an         2     15
o          1     15
o          1     15
gh         2     15

[62 rows x 2 columns]

In [29]:
df['value' ]== 15

word
keayk    False
jsjfc    False
vwj      False
ewcls    False
h        False
         ...
a        False
wwkof    False
zve      False
umavt    False
yx       False
Name: value, Length: 5000, dtype: bool

In [34]:
df['value'].describe()

count    5000.000000
mean       40.516400
std        22.859655
min         1.000000
25%        23.000000
50%        39.000000
75%        57.000000
max       120.000000
Name: value, dtype: float64

In [35]:
df['value'].mode()

0    26
Name: value, dtype: int64

In [37]:
df['value'].value_counts().head(10)

value
26    109
24     99
25     98
22     97
23     97
53     83
43     81
34     81
47     79
44     78
Name: count, dtype: int64

In [38]:
df.loc[df['value'] == 93].head(10)

       length  value
word
zywij       5     93
unpuu       5     93
uwpmt       5     93
wiuzn       5     93
twsju       5     93
zxtre       5     93
xrzy        4     93

In [41]:
df.loc[df['value']==93].min()

length     4
value     93
dtype: int64

In [49]:
df['length']

word
keayk    5
jsjfc    5
vwj      3
ewcls    5
h        1
        ..
a        1
wwkof    5
zve      3
umavt    5
yx       2
Name: length, Length: 5000, dtype: int64

In [71]:
df.loc[(df['value'] == 93) & (df['length'] == 4)]

      length  value
word
xrzy       4     93

In [72]:
df['ratio'] = df['value'] / df['length']

In [73]:
df.head()

       length  value      ratio
word
keayk       5     53  10.600000
jsjfc       5     48   9.600000
vwj         3     55  18.333333
ewcls       5     62  12.400000
h           1      8   8.000000

In [79]:
df.loc[df['ratio'] == df['ratio'].max()]

      length  value  ratio
word
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
zz         2     52   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0
z          1     26   26.0

In [78]:
df.loc[df['ratio'] == 10].value_counts()

length  value  ratio
1       10     10.0     33
3       30     10.0     21
4       40     10.0     18
2       20     10.0     17
5       50     10.0     13
Name: count, dtype: int64

In [80]:
df.loc[df['ratio'] == 10].shape

(102, 3)

In [81]:
df.query("ratio == 10").sort_values(by='value',ascending)

(102, 3)

In [91]:
df.loc[df['ratio'] == 10].head().max()

length     3.0
value     30.0
ratio     10.0
dtype: float64

In [93]:
df.loc[df['ratio'] == 10].sort_values(by='value',ascending=True)

       length  value  ratio
word
j           1     10   10.0
j           1     10   10.0
j           1     10   10.0
j           1     10   10.0
j           1     10   10.0
...       ...    ...    ...
dhmsf       5     50   10.0
emzbd       5     50   10.0
dhnoi       5     50   10.0
ngmek       5     50   10.0
pcbon       5     50   10.0

[102 rows x 3 columns]

In [97]:
df.loc[df['ratio'] == 10,'value'].max()

50

In [98]:
df.loc[df['value'] == 240,'length'].min()

nan

In [101]:
df.loc[df['value'] == 240].sort_values(by='length',ascending=True)

Empty DataFrame
Columns: [length, value, ratio]
Index: []