In [2]:
import pandas as pd

In [3]:
temp = {'name':['kroos','modric','case'],'num':[8,10,14],'place':['germany','croatia','brazil']}
temp

{'name': ['kroos', 'modric', 'case'],
 'num': [8, 10, 14],
 'place': ['germany', 'croatia', 'brazil']}

In [6]:
df = pd.DataFrame.from_dict(temp)
df.head()

     name  num    place
0   kroos    8  germany
1  modric   10  croatia
2    case   14   brazil