In [19]:
import pandas as pd

In [20]:
#Time series is a set of data points indexed in time order

In [21]:
df = pd.read_csv('HistoricalQuotes.csv')

In [22]:
df.head()

         Date  Close/Last     Volume      Open      High       Low
0  02/28/2020     $273.36  106721200   $257.26   $278.41   $256.37
1  02/27/2020     $273.52   80151380    $281.1      $286   $272.96
2  02/26/2020     $292.65   49678430   $286.53   $297.88    $286.5
3  02/25/2020     $288.08   57668360   $300.95   $302.53   $286.13
4  02/24/2020     $298.18   55548830   $297.26   $304.18   $289.23

In [23]:
df.dtypes

Date           object
 Close/Last    object
 Volume         int64
 Open          object
 High          object
 Low           object
dtype: object

In [24]:
df.columns = df.columns.str.strip()

In [25]:
# def preprocess(text):
#     text = str(text)
    
#     # Remove non-numeric characters, except for the decimal point
#     cleaned_text = ''.join(char for char in text if char.isdigit() or char == '.')

#     try:
#         result = float(cleaned_text)
#     except ValueError:
#         # Handle the case where the string contains non-numeric characters
#         result = None
    
#     return result

def preprocess(text):
    text = str(text)
    split = [x for x in text]
    new = ''.join(split[1:])
    return float(new)

In [26]:
preprocess('$123')

123.0

In [27]:
df['close'] = df['Close/Last'].apply(lambda x:preprocess(x))

In [28]:
df.head()

         Date Close/Last     Volume      Open      High       Low   close
0  02/28/2020    $273.36  106721200   $257.26   $278.41   $256.37  273.36
1  02/27/2020    $273.52   80151380    $281.1      $286   $272.96  273.52
2  02/26/2020    $292.65   49678430   $286.53   $297.88    $286.5  292.65
3  02/25/2020    $288.08   57668360   $300.95   $302.53   $286.13  288.08
4  02/24/2020    $298.18   55548830   $297.26   $304.18   $289.23  298.18

In [29]:
df.columns = df.columns.str.strip()

In [30]:
df['open'] = df['Open'].apply(lambda x:preprocess(x))

In [31]:
df['high'] = df['High'].apply(lambda x:preprocess(x))

In [32]:
df['low'] = df['Low'].apply(lambda x:preprocess(x))

In [33]:
df.drop(['Close/Last','Open','High'],inplace=True,axis=1)

In [34]:
df.head()

         Date     Volume       Low   close    open    high     low
0  02/28/2020  106721200   $256.37  273.36  257.26  278.41  256.37
1  02/27/2020   80151380   $272.96  273.52  281.10  286.00  272.96
2  02/26/2020   49678430    $286.5  292.65  286.53  297.88  286.50
3  02/25/2020   57668360   $286.13  288.08  300.95  302.53  286.13
4  02/24/2020   55548830   $289.23  298.18  297.26  304.18  289.23

In [35]:
df.drop(['Low'],inplace=True,axis=1)

In [36]:
df.head()

         Date     Volume   close    open    high     low
0  02/28/2020  106721200  273.36  257.26  278.41  256.37
1  02/27/2020   80151380  273.52  281.10  286.00  272.96
2  02/26/2020   49678430  292.65  286.53  297.88  286.50
3  02/25/2020   57668360  288.08  300.95  302.53  286.13
4  02/24/2020   55548830  298.18  297.26  304.18  289.23